* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#box_one {
    width: 500px;
    height: 150px;
    border: 3px solid rgba(175, 30, 80, 65%);
    border-radius: 10px;
    position: relative;
    left: 50px;
}

#box_two {
    width: 600px;
    height: 250px;
    border-radius: 20px;
    border: 3px solid blue;
}

#box_three {
    border: 3px solid green;
    width: 1000px;
    height: 200px;
    position: relative;
}

#box_four {
    border: 3px solid red;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.content {
    font-size: 15px;
    text-align: center;
}